#root {
  font-family: "Playfair Display", serif;
  --primary-color: rgba(232, 119, 46, 1);
  --background-color: rgba(255, 251, 242, 1);
  --background-transparent-color: rgba(255, 251, 242, 0.6);
  background-color: var(--background-color);
  /* font-family: "Noto Serif", serif; */
}

/* --- autofill on inputs START--- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
}

.float-label-input:-webkit-autofill {
  background-color: rgba(255, 251, 242, 1) !important;
  @apply border-honey;
  @apply text-honey;
  @apply bg-primary-500;
  transition: background-color 5000s ease-in-out 0s;
}

.float-label-input:-webkit-autofill + label,
.float-label-input:-webkit-autofill + input {
  top: -11px;
  @apply text-honey;
}

/* --- autofill on inputs END --- */

body {
  margin: 0 auto;
  overflow-x: hidden;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}
.NavButton {
  position: relative;
}
.NavButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.NavButton:hover sup {
  color: var(--primary-color);
}
.NavButton:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
/* this is for SEO */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* --- Quill Editor --- */
.ql-editor {
  min-height: 150px;
}
.ql-container {
  min-height: 150px;
  flex-grow: 1;
}

/* --- HEADINGS --- */

h1 {
  @apply text-3xl lg:text-6xl !important;
}

h2 {
  @apply text-2xl lg:text-4xl !important;
}
h3 {
  @apply text-xl lg:text-2xl !important;
}
